= render layout: 'wrapper' do
  :markdown
    About SizeMatte.rs?
    =====================

    SizeMatte.rs is web ranking for the rest of us.

    If you're a freelancer or a small web agency, you can load all the websites you've worked on and get an extimate of your total web size.

    We sum Alexa's rating of your sites and give you a score based on a supersecret algorithm.

    This project has been developed in 48 hours with love and caffeine, during the 2013 Rails Rumble at [weLaika's](http://dev.welaika.com)

    Developers: [Filippo Gangi Dino](http://github.com/mukkoo), [Alessandro Fazzi](http://github.com/pioneerskies), [Fabrizio Monti](http://github.com/delphaber), [Silvano Stralla](http://github.com/sistrall)
