= render layout: 'wrapper' do
  %aside= image_tag "http://placehold.it/290x450"
  %article.home
    .text-block
      %h1.title Web ranking for the rest of us.
      %p Get a total web rank for all sites you've worked on. Freelancers, small web agencies, this is for you!
      %p Compare your size with the one of your friends or competitors. Because, you know... size matters.
      %p This project has been developed in 48 hours with love and caffeine, during the 2013 Rails Rumble.

    = render 'nav_session'
