.hard-shadow {
  display: inline-block;
  color: white;
  background: $light-blue;
  box-shadow: 5px 5px 0px opacify($dark-blue, 1);
  padding: 0.2em;
}

.button {
  border: 0;
  padding: 0.3em;

  &,
  &:link,
  &:visited {
    color: white;
    text-decoration: none;
  }

  &.green {
    background: $green;

    &:hover {
      background-color: darken($green, 10%);
    }
  }

  &.red {
    background: $red;

    &:hover {
      background: darken($red, 10%);
    }
  }
}

.clouds {
  svg {
    width: 200vw;
    height: 8vw;
    margin-left: -50vw;

    path {
      fill: $white;
      stroke: $white;
    }
  }

  &.top {
    @include transform(rotate(0deg));
  }

  &.bottom {
    @include transform(rotate(180deg));
  }
}

.works {
  background: $white;
  color: $sad-blue;

  .work {
    @include span-columns(3);
    @include omega(4n);

    img {
      @include span-columns(1 of 3);
    }

    .content {
      @include span-columns(2 of 3);
      @include omega();

      #{$all-text-inputs},
      textarea {
        width: 100%;
        padding: $input-padding;
      }
    }
  }
}

@mixin long-shadow($type, $color, $length, $fadeout: true, $skew: false, $direction: right){
  $shadow: '';
  @if $skew == false or $type == text{
    @if $direction == right {
      @for $i from 0 to $length - 1 {
        $shadow: $shadow + $i + 'px ' + $i + 'px 0 ' + $color + ',';
      }
    }
    @if $direction == left {
      @for $i from 0 to $length - 1 {
        $shadow: $shadow + $i * -1 + 'px ' + $i + 'px 0 ' + $color + ',';
       }
      }
     }

   @if $fadeout == true{
    @for $i from 1 to $length - 1 {
      @if $type == text or $skew == false{
        @if $direction == right{
          $shadow: $shadow + $i + 'px ' + $i + 'px 0 ' +       rgba($color, 1 - $i / $length) + ',';
        }
        @if $direction == left{
          $shadow: $shadow + $i * -1 + 'px ' + $i + 'px 0 ' +       rgba($color, 1 - $i / $length) + ',';
        }
      }
      @if ($type == box) and $skew == true{
        @if $direction == right {
          $shadow: $shadow + $i + 'px ' + $i + 'px 0 ' + $i * .2 + 'px ' + rgba($color, 1 - $i / $length) + ',';
        }
        @if $direction == left {
          $shadow: $shadow + $i * -1 + 'px ' + $i + 'px 0 ' + $i * .2 + 'px ' + rgba($color, 1 - $i / $length) + ',';
        }
      }
  }
  $shadow: $shadow + $length + 'px ' + $length + 'px 0 ' + rgba($color, 0);
 }
 @if $fadeout == false{
   @if $skew == true and ( $type == box ){
     @for $i from 0 to $length - 1 {
            $shadow: $shadow + $i + 'px ' + $i + 'px 0 ' + $i * .1 + 'px ' + $color + ',';
      }
   }
    $shadow: $shadow + $length + 'px ' + $length + 'px 0 ' + rgba(0,0,0,0);
 }
 $shadow: unquote($shadow);
  @if $type == 'box' {box-shadow: $shadow;}
  @if $type == 'text' {text-shadow: $shadow;}
}

.long-shadow-green {
  @include long-shadow(box, darken($green, 20%), 100, false, false);
}
.long-shadow-red {
  @include long-shadow(box, darken($red, 20%), 100, false, false);
}

.clearfix{
  @include clearfix;
}
