.hard-shadow
  display: inline-block
  color: white
  background: $light-blue
  box-shadow: 5px 5px 0px opacify($dark-blue, 1)
  padding: 0.2em

.button
  padding: 0.3em
  &:link,
  &:visited
    color: white
    text-decoration: none
    width: 100%
  &.green
    background: $green
    &:hover
      background-color: darken($green, 10%)