.nav-main
  .logo
    position: absolute
    top: -0.6em
  > nav
    height: 3em
    > ul
      float: right
      padding: 0
      margin: 0

      > li
        @include inline-block
        float: left
        margin-right: 1em
        @include transition(all 0.2s ease-in-out)

        a
          &:link, &:hover, &:active, &:visited
            color: white
            text-decoration: none

        &:hover, &.active
          margin: 5px calc(1em - 5px) 0 5px

.nav-session
  > nav
    > ul
      padding: 0
      margin: 0

      > li
        list-style-type: none
        clear: right
        margin-bottom: 1em
