@import "reset";

@import "config";

@import "bourbon";
@import "neat";
@import "mixins";

@import "block";
@import "typography";
@import "navigation";
@import "forms";

@import "sessions";
@import "web_weight";
@import "teams";
@import "team";
@import "team-edit";

%diagonal-separator {
  position: relative;
  z-index: 1;

  &:before,
  &:after {
    position: absolute;
    content: '';
    pointer-events: none;
    left: -25%;
    z-index: -1;
    width: 150%;
  }
}

%diagonal-separator-top {
  $padding-top: 4em;

  @extend %diagonal-separator;

  padding-top: $padding-top;
  overflow: hidden;

  &:before,
  &:after {
    top: 0;
    height: 3 * $padding-top;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }

  &:after {
    background: white;
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }

  &:before {
    background: $dark-blue;
    -webkit-transform: rotate(1deg);
    transform: rotate(1deg);
  }
}

%diagonal-separator-bottom {
  $padding-bottom: 5em;

  @extend %diagonal-separator;

  padding-bottom: $padding-bottom;

  &:before,
  &:after {
    bottom: 0;
    height: 3 * $padding-bottom;
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
  }

  &:after {
    background: white;
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }

  &:before {
    background: $dark-blue;
    -webkit-transform: rotate(-1deg);
    transform: rotate(-1deg);
  }

}

body {
  overflow-x: hidden;

  > .notice {
    text-align: center;
    color: white;
    background: $green;
    margin-bottom: 1em;
    position: relative;
    text-align: center;
    z-index: 1000;
  }

  > header,
  > section,
  > footer {
    .wrapper {
      @include outer-container;

      aside {
        @include span-columns(6);
        text-align: center;
        > img {
          margin: 0 auto;
          position: relative;
        }
      }

      article {
        @include span-columns(9);
        &.full{
          @include span-columns(12);
        }
        &.home {
          h1.title {
            line-height: 1em;
          }
          p{
            font-family: Lato;
            font-weight: lighter;
            margin: 0.8em 0;
          }
          @include span-columns(6);
          text-align: right;
          padding-right: 1em;
        }
      }
    }
  }

  > header {
    @extend %diagonal-separator-bottom;
    overflow: hidden;
    //text-align: right;
    background: $light-blue;
    color: white;
    margin-top: 0.5em;
  }

  > section {
    @include clearfix;

    padding-bottom: 1em;
    background: $light-blue;
    color: white;

  }

  > footer {
    @extend %diagonal-separator-top;

    background: $light-blue;
    color: $sad-blue;

    p {
      font-size: 2em;
    }

    a {
      &:link, &:visited {
        text-decoration: none;
        color: $sad-blue;
      }

      &:hover {
        color: $dark-blue;
        text-decoration: underline;
      }
    }
  }
}
