@mixin arrow()
  @include transition(all 0.5s ease-in-out)
  color: $white
  font-size: 2.5em
  height: 100%
  line-height: 0.6em
  position: absolute
  text-align: right
  top: 0
  right: -0.5em

.button
  display: inline-block
  margin-right: 3%
  text-align: center

=hard-shadow($color)
  display: inline-block
  color: white
  background: $color
  box-shadow: 5px 5px 0px opacify(darken($color, 15%), 1)
  padding: 0.2em
  @include transition(all 0.2s ease-in-out)

