.team_detail
  padding: 0 5em 5em 5em
  h2
    text-align: center
    color: darken($dark-blue, 10%)
  article
    padding-bottom: 1em
  .button
    width: 30%
    display: inline-block
    margin-right: 3%
    text-align: center
