.team_detail
  .wrapper
    padding: 0 5em 2.5em 5em
  h2
    text-align: center
    color: darken($dark-blue, 10%)
  article
    padding-bottom: 1em
  .button
    @include span-columns(4)

  .works
    margin-top: 2em
