.team 
  color: white
  display: inline-block
  a 
    text-decoration: none
    color: white
  @media screen and ($tablet-max)
    width: 47%
    &:nth-child(odd)
      margin-right: 5%
  @media screen and ($portable)
    width: 30%
    margin-right: 4%
    &:nth-child(3n+0)
      margin-right: 0%