.team-edit
  .wrapper
    padding: 0 5em 5em 5em

  form
    margin-bottom: 4em

  .button.right
    @include span-columns(4)
    @include shift(8)

    input
      width: 100%

  .three-buttons-line
    margin-bottom: 8em
    .button
      @include span-columns(4)
